#about{
	padding-top: 70px;
}

#about img{
	position: absolute;
	height: 700px;
	transform: translate(-150%, 0);
}


#about p{
	position: absolute;
	text-align: left;
	font-size: 20px;
	transform: translate(200%, 35%);
	line-height : 2em;
}

#about .index{
	font-weight: bold;
}
