#about{
	padding-top: 70px;
	background-color: #545E72;
}

#about img{
	position: absolute;
	height: 700px;
	transform: translate(-110%, 0);
}


#about p{
	position: absolute;
	text-align: left;
	font-size: 20px;
	transform: translate(210%, 35%);
	line-height : 2em;
}

#about .index{
	font-weight: bold;
}
