body{
	text-align: center;
	color: #FAEED1;
	font-family: 'Roboto Slab', serif;
	overflow-x: hidden;
	background-color: #607274;
}

ul{
	display: flex;
	justify-content: center;
}

/*header*/ 
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 70px;
    line-height: 70px;
	font-size: 1.2rem;
}

header li a {
    position: relative;
    top: 0;
    transition: top 0.3s ease;
	margin: 0 10px;
	padding: 0 1rem;
}

header li a:hover {
    top: -3px;
}

/* main */
main {
    padding-top: 70px; /* 헤더 높이만큼의 여백 추가 */
}

section {
	height: 100vh;
}
