body{
	text-align: center;
	background-color: #607274;
	color: #FAEED1;
	font-family: 'Roboto Slab', serif;
	 overflow-x: hidden;
}

ul{
	display: flex;
	justify-content: center;
}

/*header*/ 
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 70px;
    line-height: 70px;
	font-size: 1.2rem;
}

header li a {
    position: relative;
    top: 0;
    transition: top 0.3s ease;
	margin: 0 10px;
	padding: 0 1rem;
}

header li a:hover {
    top: -3px;
}

/* main */
main {
    padding-top: 70px; /* 헤더 높이만큼의 여백 추가 */
}

/*#home*/

#home {
	height: 100vh;
    padding-top: 20px; /* 필요에 따라 조절 가능한 추가 여백 */
	/* position: relative; */
}


#home img{
	border-radius: 20%;
	box-shadow: 2px 2px 10px #B2A59B;

}

#home h2{
	margin: 2rem;
	font-style: italic;
	font-size: 20px;
	font-weight: 600;
}

/* home - scoll */

#home .scroll {
    position: relative; /* absolute 대신 relative로 변경 */
    bottom: 1%; /* 원하는 위치로 조절 */
    left: 50%;
    transform: translate(-50%, 50%); /* 가운데 정렬을 유지하는 방법 */
    cursor: pointer;
}


#home .scroll a{
	display: block;
	padding-top: 60px;
}

#home .scroll a span{
	position: absolute;
	top: 0;
	left: 50%;
	width: 30px;
	height: 50px;
	margin-left: -15px;
	border: 2px solid black;
	border-radius: 50px;
	box-sizing: border-box;

}

#home .scroll a span::before {
	position: absolute;
	top: 10px;
	left: 50%;
	content: "";
	width: 6px;
	height: 6px;
	margin-left: -3px;
	background-color: black;
	border-radius: 100%;
	-webkit-animation: sdb 2s infinite;
	animation: sdb 2s infinite;
	box-sizing: border-box;
}

@-webkit-keyframes sdb {
	0%{
		-webkit-transform: translate(0,0);
		opacity: 0;
	}
	40%{
		opacity: 1;
	}
	80% {
		-webkit-transform: translate(0, 20px);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes sdb {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/* effect */

* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  position: relative;
  width: 1160px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  perspective: 500px;
  margin: auto;
}
.container .box {
  position: relative;
  width: 275px;
  height: 275px;
  background: #000;
  transition: 0.5s;
  transform-style: preserve-3d;
  overflow: hidden;
  margin-right: 15px;
  margin-top: 45px;
}
.container:hover .box {
  transform: rotateY(25deg);
}
.container .box:hover ~ .box {
  transform: rotateY(-25deg);
}
.container .box:hover {
  transform: rotateY(0deg) scale(1.25);
  z-index: 1;
  box-shadow: 0 25px 40px rgba(0,0,0,0.5);
}
.container .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container .box .imgBx:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,#f00,#000);
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
  mix-blend-mode: multiply;
}
.container .box:hover .imgBx:before {
  opacity: 1;
}
.container .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .box .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  padding: 20px;
  align-items: flex-end;
  box-sizing: border-box;
}
.container .box .content h2 {
  color: #fff;
  transition: 0.5s;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 20px;
  transform: translateY(200px);
  transition-delay: 0.3s;
}
.container .box:hover .content h2 {
  transform: translateY(0px);
}
.container .box .content p {
  color: #fff;
  transition: 0.5s;
  font-size: 14px;
  transform: translateY(200px);
  transition-delay: 0.4s;
}
.container .box:hover .content p {
  transform: translateY(0px);
}


/*
지금 할 것
- nav 사이즈 키우기
- scroll 더 밑으로 
- 되면 사진 키우기
- 알맞은 색상 고르기

나중에 할 것
- 스마트폰과 같은 것에서 반응형으로 만들기
- 아이콘들 다시 교체
*/