body{
	text-align: center;
	background-color: #607274;
	color: #FAEED1;
	 font-family: 'Roboto Slab', serif;
}

ul{
	display: flex;
	justify-content: center;
}

nav{
	margin: 2rem auto 1rem auto;
	font-size: 1.2rem;
}

nav a{
	margin: 0 10px;
}

/*#home*/

#home{
	margin-top: 3.5rem
}

a{
	padding:1rem;
}

img{
	border-radius: 20%;
	box-shadow: 2px 2px 10px #B2A59B;
}

#home h2{
	margin: 2rem;
	font-style: italic;
	font-size: 20px;
	font-weight: 600;
}

/* home - scoll */

#home .scroll{
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translate(-50%, -10%);
	cursor: pointer;

}

#home .scroll a{
	display: block;
	padding-top: 60px;
}

#home .scroll a span{
	position: absolute;
	top: 0;
	left: 50%;
	width: 30px;
	height: 50px;
	margin-left: -15px;
	border: 2px solid black;
	border-radius: 50px;
	box-sizing: border-box;

}

#home .scroll a span::before {
	position: absolute;
	top: 10px;
	left: 50%;
	content: "";
	width: 6px;
	height: 6px;
	margin-left: -3px;
	background-color: black;
	border-radius: 100%;
	-webkit-animation: sdb 2s infinite;
	animation: sdb 2s infinite;
	box-sizing: border-box;
}

@-webkit-keyframes sdb {
	0%{
		-webkit-transform: translate(0,0);
		opacity: 0;
	}
	40%{
		opacity: 1;
	}
	80% {
		-webkit-transform: translate(0, 20px);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes sdb {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/*
지금 할 것
- nav 사이즈 키우기
- scroll 더 밑으로 
- 되면 사진 키우기
- 알맞은 색상 고르기

나중에 할 것
- 스마트폰과 같은 것에서 반응형으로 만들기
- 아이콘들 다시 교체
*/